<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>生命靈數</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
	<h1>生命靈數</h1>
	<div>
		<ion-nav-link router-direction="forward" [component]="tarotComponent">
			<ion-button>塔羅牌</ion-button>
		</ion-nav-link>
	</div>
	<div>
		<ion-nav-link router-direction="forward" [component]="xiangqiComponent">
			<ion-button>象棋</ion-button>
		</ion-nav-link>
	</div>
</ion-content>
